.App {
  width: 100%;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

table {
  width: 800px;
  height: 200px;
}

th {
  background-color: rgb(193, 47, 47);
  border: 1px rgb(193, 47, 47);
  color: white
}

td {
  border: 1px solid black;
  text-align: center;
}

.disclaimer{
  caption-side:bottom
}

.button{
  border: 1px solid blue;
  color: blue;
  background-color: white
}

.refreshButton{
  font-size: 25px;
  background-color: blue;
  color: white;
  border: none;

}
